<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SE.Properties.Settings.automobileshopConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;G:\projects\anuj_proj\anuj proj\rep proj\automobile\automobileshop.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="SE.Properties.Settings.SEConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SE.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>